@import 'piecewise';
@import '~susy/sass/susy';

#root {
    background-color: #C7E1FF;
}
h1 {
    @include piecewise(font-size, 24, 48, 480, 1200);
    font-weight: bold;
}
.subtitle {
    font-size: 16px;
}
.npmInstall {
    font-family: Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
    text-align: center;
    margin-top: 4rem;
    background-color: #F0F0F0;
}
.functionBox * {
    font-family: 'Times New Roman', Times, serif;
}
.functionBox {
    margin-top: 4rem;
    .currentWidth {
        display: inline-block;
        float: right;
    }
    .calc {
        border: 1px solid black;
        padding: 1rem;
        display: inline-block;
        .calcLeft {
            @include span(2 of 12);
        }
        .calcRight {
            @include span(10 of 12);
            @include omega();
            >div {
                margin-bottom: 1rem;
            }
            .calcMid {
                .finalCalc {

                }
            }
        }
    }
}