@import 'piecewise';

#root {
    background-color: #C7E1FF;
}
h1 {
    @include piecewise(font-size, 24, 48, 480, 1200);
    font-weight: bold;
}
.subtitle {
    font-size: 16px;
}
.functionBox * {
    font-family: 'Times New Roman', Times, serif;
}